name: Test the action

on:
    workflow_dispatch:
    push:
        branches:
            - "**"

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Send a test webhook
              uses: ./
              with:
                  webhook-url: ${{ secrets.RELEASE_WEBHOOK }}
                  changelog: |
                      - Fixed bugs
                      - Probably
